<div class="flex flex-wrap">
{{ $resources := .Page.Resources }}
{{ range .Params }}
    {{ $original := $resources.GetMatch (printf "*%s*" (.)) }}
    {{ $image := $original.Resize "x240" }}
    <a href="{{ $original.RelPermalink }}" target="_blank" class="w-25 pa2">
        <img src="{{ $image.RelPermalink }}" />
    </a>
{{ end }}
</div>